<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between mb-6 flex-wrap">
    <h1 class="font-bold text-3xl mb-6">Edit lcongviec_trangthai</h1>
    <% if @lcongviec_trangthai.persisted? %>
    <%= button_to 'Xóa', @lcongviec_trangthai, method: :delete, class: "text-red-700 underline", data: { turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <%= render 'form', lcongviec_trangthai: @lcongviec_trangthai %>
</div>
