<div id="<%= dom_id congviec_user %>">
  <p>
    <strong>Macongviec:</strong>
    <%= congviec_user.id %>
  </p>

  <p>
    <strong>Noidung:</strong>
    <%= congviec_user.trangthai %>
  </p>

</div>
